---
layout: default
title: Influitive Development Blog.
lead: ""
---

<div class='row'>
  <div class='span12'>
    {% for post in site.categories['dev'] limit:5 %}
      <div class='post' style='border-bottom: solid 1px #EEE; margin-bottom: 20px; padding-bottom: 20px;'>
        <h3>
          <a href="{{ post.url }}">{{ post.title }}</a>
          <div><small>Posted {{ post.date | date_to_string }} by {{ post.author }}</small></div>
        </h3>

        <div class='lead'>{{ post.lead }}</div>
      </div>

    {% endfor %}
  </div>
  <div class='span4'>
    <h3>All Posts</h3>
    <ul class='unstyled'>
      {% for post in site.category['dev'] %}
        <li>
          <div><small>{{ post.date |date_to_string| }}</small></div>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
